# servroot typically is the Kong working directory for tests
servroot
# exclude generated packed rocks
*.rock
# exclude Pongo shell history
.pongo/.bash_history
# exclude LuaCov statistics file
luacov.stats.out
# exclude LuaCov report
luacov.report.out
# exclude LuaCov html report
luacov.report.html
# exclude Pongo containerid file
.containerid

.idea/
*/.idea/
*.iml
*/*.iml

*.dll
*.exe
.DS_Store
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

go.work*

/terraform

website/vendor
vendor/

# Coverage
coverage.txt

# IDEs
.vscode/

secrets.auto.tfvars
.tfvars
.env
